* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fjalla One', sans-serif;
    background-image: url("assets/img/background-zakopane.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: static; /* set the position property to static */
}

nav {
    background-color: #333;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: white; 
    /* #ffcc00; */
    color: black;
}

main {
    margin-top: 10%;
    padding: 50px;
    text-align: center;
    color: white;
}

main h2 {
    font-size: 48px;
    margin-bottom: 30px;
}

main p {
    font-size: 24px;
    margin-bottom: 2%;
}

main a{
    font-size: 24px;
    margin-top: 1%;
    color: white;
}